In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(columns=['Name', 'City', 'Grade'],
                  data=[['Saeed', 'Cairo', 88],
                        ['Karim', 'Alex', 97],
                        ['Ahmed', 'Giza', 93]])

In [ ]:
df

    Name   City  Grade
0  Saeed  Cairo     88
1  Karim   Alex     97
2  Ahmed   Giza     93

In [ ]:
data = {'Name': ['Saeed', 'Karim', 'Ahmed'],
        'City': ['Cairo', 'Alex', 'Giza'],
        'Grade': [88, 97, 93]}

In [ ]:
df = pd.DataFrame(data)
df

    Name   City  Grade
0  Saeed  Cairo     88
1  Karim   Alex     97
2  Ahmed   Giza     93

In [ ]:
# df_tmp = pd.read_csv('data.csv')
# df_tmp

In [ ]:
df.to_csv('data.csv', index=False)

In [ ]:
df = pd.read_csv('5000 Sales Records.csv')
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,217984473,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,996861922,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [ ]:
df.shape

(5000, 14)

In [ ]:
df.size

70000

In [ ]:
df.index

RangeIndex(start=0, stop=5000, step=1)

In [ ]:
list(df.columns)

['Region',
 'Country',
 'Item Type',
 'Sales Channel',
 'Order Priority',
 'Order Date',
 'Order ID',
 'Ship Date',
 'Units Sold',
 'Unit Price',
 'Unit Cost',
 'Total Revenue',
 'Total Cost',
 'Total Profit']

In [ ]:
df.dtypes

Region             object
Country            object
Item Type          object
Sales Channel      object
Order Priority     object
Order Date         object
Order ID            int64
Ship Date          object
Units Sold          int64
Unit Price        float64
Unit Cost         float64
Total Revenue     float64
Total Cost        float64
Total Profit      float64
dtype: object

In [ ]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88

In [ ]:
df.tail()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
4995,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,217984473,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,996861922,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [ ]:
df.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,5.000000e+03,5000.000000,5000.000000,5000.000000,5.000000e+03,5.000000e+03,5.000000e+03
mean,5.486447e+08,5030.698200,265.745564,187.494144,1.325738e+06,9.330932e+05,3.926446e+05
std,2.594671e+08,2914.515427,218.716695,176.416280,1.475375e+06,1.150873e+06,3.829351e+05
min,1.000909e+08,2.000000,9.330000,6.920000,6.531000e+01,4.844000e+01,1.687000e+01
25%,3.201042e+08,2453.000000,81.730000,35.840000,2.574168e+05,1.547480e+05,8.533925e+04
50%,5.523150e+08,5123.000000,154.060000,97.440000,7.794095e+05,4.681807e+05,2.790952e+05
75%,7.687709e+08,7576.250000,437.200000,263.330000,1.839975e+06,1.189578e+06,5.651064e+05
max,9.998797e+08,9999.000000,668.270000,524.960000,6.672676e+06,5.248025e+06,1.726007e+06

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          5000 non-null   object
 1   Country         5000 non-null   object
 2   Item Type       5000 non-null   object
 3   Sales Channel   5000 non-null   object
 4   Order Priority  5000 non-null   object
 5   Order Date      5000 non-null   object
 6   Order ID        5000 non-null   int64
 7   Ship Date       5000 non-null   object
 8   Units Sold      5000 non-null   int64
 9   Unit Price      5000 non-null   float64
 10  Unit Cost       5000 non-null   float64
 11  Total Revenue   5000 non-null   float64
 12  Total Cost      5000 non-null   float64
 13  Total Profit    5000 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 547.0+ KB

In [ ]:
df.sample()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
1349,Europe,Kosovo,Vegetables,Offline,C,7/23/2017,975080668,8/20/2017,6893,154.06,90.93,1061935.58,626780.49,435155.09

In [ ]:
df.nunique()

Region               7
Country            185
Item Type           12
Sales Channel        2
Order Priority       4
Order Date        2305
Order ID          5000
Ship Date         2320
Units Sold        3944
Unit Price          12
Unit Cost           12
Total Revenue     4909
Total Cost        4908
Total Profit      4909
dtype: int64

In [ ]:
df.nsmallest(5, 'Units Sold')

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
582,Asia,Brunei,Baby Food,Online,C,4/19/2012,918961560,5/24/2012,2,255.28,159.42,510.56,318.84,191.72
1046,Europe,Bulgaria,Household,Online,C,3/21/2014,129902875,4/24/2014,2,668.27,502.54,1336.54,1005.08,331.46
1405,Sub-Saharan Africa,Rwanda,Clothes,Online,M,10/23/2013,410077846,12/2/2013,2,109.28,35.84,218.56,71.68,146.88
2244,Europe,Bosnia and Herzegovina,Office Supplies,Offline,C,5/2/2010,152746713,5/8/2010,2,651.21,524.96,1302.42,1049.92,252.50
3284,Central America and the Caribbean,Saint Kitts and Nevis,Clothes,Offline,L,10/14/2013,532441079,11/8/2013,2,109.28,35.84,218.56,71.68,146.88

In [ ]:
df.nlargest(5, 'Unit Cost')

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
10,Middle East and North Africa,Turkey,Office Supplies,Offline,C,9/25/2013,557156026,10/15/2013,3704,651.21,524.96,2412081.84,1944451.84,467630.00
17,Europe,Bulgaria,Office Supplies,Online,L,10/31/2010,672330081,11/29/2010,6266,651.21,524.96,4080481.86,3289399.36,791082.50
27,Central America and the Caribbean,Guatemala,Office Supplies,Online,M,1/17/2012,345820701,2/1/2012,4885,651.21,524.96,3181160.85,2564429.60,616731.25
45,Sub-Saharan Africa,Angola,Office Supplies,Offline,C,10/3/2015,778854548,10/3/2015,9224,651.21,524.96,6006761.04,4842231.04,1164530.00
51,Asia,Laos,Office Supplies,Online,H,8/10/2012,197185981,9/11/2012,568,651.21,524.96,369887.28,298177.28,71710.00

In [ ]:
for idx, row in df.iterrows():
    print(row)
    print('---------')
    print(row['Region'])
    break

Region            Central America and the Caribbean
Country                        Antigua and Barbuda
Item Type                                 Baby Food
Sales Channel                                Online
Order Priority                                    M
Order Date                               12/20/2013
Order ID                                  957081544
Ship Date                                 1/11/2014
Units Sold                                      552
Unit Price                                   255.28
Unit Cost                                    159.42
Total Revenue                             140914.56
Total Cost                                 87999.84
Total Profit                               52914.72
Name: 0, dtype: object
---------
Central America and the Caribbean

In [ ]:
# df.to_dict()

In [ ]:
new_df = df.copy()
new_df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88

In [ ]:
df.isna().any()

Region            False
Country           False
Item Type         False
Sales Channel     False
Order Priority    False
Order Date        False
Order ID          False
Ship Date         False
Units Sold        False
Unit Price        False
Unit Cost         False
Total Revenue     False
Total Cost        False
Total Profit      False
dtype: bool

In [ ]:
df.isna().sum()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [ ]:
df[1000:]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
1000,Europe,Bosnia and Herzegovina,Cereal,Online,C,3/30/2011,639126908,5/10/2011,710,205.70,117.11,146047.00,83148.10,62898.90
1001,Europe,Belarus,Beverages,Online,L,6/3/2014,879405200,7/20/2014,4396,47.45,31.79,208590.20,139748.84,68841.36
1002,Europe,Slovenia,Beverages,Offline,H,3/17/2010,844105184,4/20/2010,8337,47.45,31.79,395590.65,265033.23,130557.42
1003,Australia and Oceania,Kiribati,Household,Offline,C,4/24/2011,952025687,5/1/2011,4412,668.27,502.54,2948407.24,2217206.48,731200.76
1004,Central America and the Caribbean,Costa Rica,Office Supplies,Online,C,5/11/2016,342278039,6/16/2016,6533,651.21,524.96,4254354.93,3429563.68,824791.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,217984473,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,996861922,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [ ]:
df[1000:1200]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
1000,Europe,Bosnia and Herzegovina,Cereal,Online,C,3/30/2011,639126908,5/10/2011,710,205.70,117.11,146047.00,83148.10,62898.90
1001,Europe,Belarus,Beverages,Online,L,6/3/2014,879405200,7/20/2014,4396,47.45,31.79,208590.20,139748.84,68841.36
1002,Europe,Slovenia,Beverages,Offline,H,3/17/2010,844105184,4/20/2010,8337,47.45,31.79,395590.65,265033.23,130557.42
1003,Australia and Oceania,Kiribati,Household,Offline,C,4/24/2011,952025687,5/1/2011,4412,668.27,502.54,2948407.24,2217206.48,731200.76
1004,Central America and the Caribbean,Costa Rica,Office Supplies,Online,C,5/11/2016,342278039,6/16/2016,6533,651.21,524.96,4254354.93,3429563.68,824791.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,Europe,Liechtenstein,Cereal,Online,L,1/1/2010,940682303,2/9/2010,7652,205.70,117.11,1574016.40,896125.72,677890.68
1196,Australia and Oceania,Marshall Islands,Personal Care,Offline,C,5/8/2012,393336999,5/14/2012,6014,81.73,56.67,491524.22,340813.38,150710.84
1197,Middle East and North Africa,Pakistan,Fruits,Offline,C,6/4/2012,897122371,6/13/2012,7300,9.33,6.92,68109.00,50516.00,17593.00
1198,Europe,Norway,Fruits,Offline,C,10/6/2014,381774747,10/23/2014,4486,9.33,6.92,41854.38,31043.12,10811.26
1199,Middle East and North Africa,Saudi Arabia,Baby Food,Online,M,8/14/2013,447342956,9/21/2013,7576,255.28,159.42,1934001.28,1207765.92,726235.36

In [ ]:
df.iloc[1000, 3]

'Online'

In [ ]:
df.iloc[1000]

Region                            Europe
Country           Bosnia and Herzegovina
Item Type                         Cereal
Sales Channel                     Online
Order Priority                         C
Order Date                     3/30/2011
Order ID                       639126908
Ship Date                      5/10/2011
Units Sold                           710
Unit Price                         205.7
Unit Cost                         117.11
Total Revenue                   146047.0
Total Cost                       83148.1
Total Profit                     62898.9
Name: 1000, dtype: object

In [ ]:
df.loc[1000, 'Sales Channel']

'Online'

In [ ]:
df['Item Type']

0        Baby Food
1           Snacks
2        Beverages
3           Cereal
4           Snacks
           ...
4995     Household
4996       Clothes
4997     Baby Food
4998       Clothes
4999    Vegetables
Name: Item Type, Length: 5000, dtype: object

In [ ]:
new_df = df[df['Unit Cost'] > 100]
new_df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
9,Sub-Saharan Africa,Ethiopia,Baby Food,Online,M,4/13/2015,192993152,5/7/2015,9817,255.28,159.42,2506083.76,1565026.14,941057.62
10,Middle East and North Africa,Turkey,Office Supplies,Offline,C,9/25/2013,557156026,10/15/2013,3704,651.21,524.96,2412081.84,1944451.84,467630.00
11,Middle East and North Africa,Oman,Cosmetics,Online,M,5/12/2013,741101920,5/17/2013,7382,437.20,263.33,3227410.40,1943902.06,1283508.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4990,Europe,Ukraine,Cereal,Offline,L,4/14/2014,559183347,5/21/2014,3633,205.70,117.11,747308.10,425460.63,321847.47
4991,Europe,Armenia,Meat,Offline,M,11/9/2015,781416594,12/23/2015,7390,421.89,364.69,3117767.10,2695059.10,422708.00
4994,Sub-Saharan Africa,Liberia,Cosmetics,Offline,M,6/17/2012,374724614,6/23/2012,8195,437.20,263.33,3582854.00,2157989.35,1424864.65
4995,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,217984473,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44

In [ ]:
new_df = df[(df['Unit Cost'] > 100) & (df['Region'] == 'Asia')]
new_df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
12,Asia,Malaysia,Cereal,Offline,L,7/31/2016,333942162,8/25/2016,9762,205.70,117.11,2008043.40,1143227.82,864815.58
42,Asia,Laos,Meat,Online,L,3/21/2017,734708821,3/24/2017,5522,421.89,364.69,2329676.58,2013818.18,315858.40
49,Asia,Taiwan,Baby Food,Online,M,5/27/2014,369560611,6/13/2014,52,255.28,159.42,13274.56,8289.84,4984.72
51,Asia,Laos,Office Supplies,Online,H,8/10/2012,197185981,9/11/2012,568,651.21,524.96,369887.28,298177.28,71710.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,Asia,Myanmar,Baby Food,Online,M,6/6/2012,670026814,6/15/2012,4679,255.28,159.42,1194455.12,745926.18,448528.94
4974,Asia,Malaysia,Office Supplies,Offline,L,11/25/2011,699801480,12/26/2011,5664,651.21,524.96,3688453.44,2973373.44,715080.00
4985,Asia,Laos,Cosmetics,Offline,L,10/13/2010,580309283,10/25/2010,5268,437.20,263.33,2303169.60,1387222.44,915947.16
4986,Asia,Sri Lanka,Office Supplies,Online,C,12/1/2012,307045400,12/2/2012,412,651.21,524.96,268298.52,216283.52,52015.00
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44

In [ ]:
df[df['Country'].isin(['Turkey', 'Lebanon', 'Taiwan'])]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
10,Middle East and North Africa,Turkey,Office Supplies,Offline,C,9/25/2013,557156026,10/15/2013,3704,651.21,524.96,2412081.84,1944451.84,467630.00
15,Middle East and North Africa,Lebanon,Meat,Offline,H,12/17/2015,611629760,1/31/2016,3693,421.89,364.69,1558039.77,1346800.17,211239.60
34,Middle East and North Africa,Lebanon,Fruits,Online,H,4/5/2013,441150701,5/12/2013,5150,9.33,6.92,48049.50,35638.00,12411.50
47,Middle East and North Africa,Lebanon,Household,Offline,M,10/15/2014,198997008,10/16/2014,6492,668.27,502.54,4338408.84,3262489.68,1075919.16
49,Asia,Taiwan,Baby Food,Online,M,5/27/2014,369560611,6/13/2014,52,255.28,159.42,13274.56,8289.84,4984.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4508,Asia,Taiwan,Cereal,Offline,M,9/3/2011,488361871,9/18/2011,5985,205.70,117.11,1231114.50,700903.35,530211.15
4513,Asia,Taiwan,Meat,Online,M,3/1/2013,269742953,3/26/2013,1789,421.89,364.69,754761.21,652430.41,102330.80
4725,Middle East and North Africa,Turkey,Personal Care,Online,M,6/2/2014,962686717,6/21/2014,9247,81.73,56.67,755757.31,524027.49,231729.82
4740,Asia,Taiwan,Fruits,Online,H,1/2/2012,542294442,1/30/2012,5831,9.33,6.92,54403.23,40350.52,14052.71
4778,Middle East and North Africa,Turkey,Meat,Offline,C,9/11/2012,153147542,9/27/2012,8616,421.89,364.69,3635004.24,3142169.04,492835.20

In [ ]:
df[df['Country'].str.startswith('T')]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
10,Middle East and North Africa,Turkey,Office Supplies,Offline,C,9/25/2013,557156026,10/15/2013,3704,651.21,524.96,2412081.84,1944451.84,467630.00
19,Central America and the Caribbean,Trinidad and Tobago,Baby Food,Offline,C,4/16/2013,783842170,6/1/2013,5172,255.28,159.42,1320308.16,824520.24,495787.92
23,Australia and Oceania,Tuvalu,Beverages,Offline,L,3/22/2012,610864150,4/7/2012,7132,47.45,31.79,338413.40,226726.28,111687.12
49,Asia,Taiwan,Baby Food,Online,M,5/27/2014,369560611,6/13/2014,52,255.28,159.42,13274.56,8289.84,4984.72
53,Australia and Oceania,Tuvalu,Household,Offline,H,11/23/2016,613513743,12/31/2016,1205,668.27,502.54,805265.35,605560.70,199704.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4912,Sub-Saharan Africa,The Gambia,Vegetables,Offline,L,10/28/2014,420859467,10/28/2014,524,154.06,90.93,80727.44,47647.32,33080.12
4956,Sub-Saharan Africa,Tanzania,Snacks,Online,M,2/11/2011,771561944,2/15/2011,1180,152.58,97.44,180044.40,114979.20,65065.20
4961,Australia and Oceania,Tuvalu,Personal Care,Offline,C,4/30/2011,109095370,6/6/2011,2599,81.73,56.67,212416.27,147285.33,65130.94
4989,Asia,Thailand,Snacks,Online,C,8/8/2012,615522181,9/20/2012,5547,152.58,97.44,846361.26,540499.68,305861.58
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,996861922,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [ ]:
df[~df['Country'].str.contains('a')]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
5,Middle East and North Africa,Morocco,Personal Care,Offline,L,11/8/2010,412882792,11/22/2010,48,81.73,56.67,3923.04,2720.16,1202.88
10,Middle East and North Africa,Turkey,Office Supplies,Offline,C,9/25/2013,557156026,10/15/2013,3704,651.21,524.96,2412081.84,1944451.84,467630.00
18,North America,Mexico,Beverages,Online,C,3/13/2017,127374303,3/20/2017,1742,47.45,31.79,82657.90,55378.18,27279.72
26,Europe,Montenegro,Fruits,Offline,L,5/29/2016,313705861,7/10/2016,1390,9.33,6.92,12968.70,9618.80,3349.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4950,Sub-Saharan Africa,Benin,Clothes,Online,H,12/4/2011,525328290,1/11/2012,5170,109.28,35.84,564977.60,185292.80,379684.80
4957,Central America and the Caribbean,Belize,Baby Food,Online,L,11/26/2014,624736964,11/28/2014,2406,255.28,159.42,614203.68,383564.52,230639.16
4960,Sub-Saharan Africa,Niger,Baby Food,Offline,C,10/19/2013,666534364,11/18/2013,1185,255.28,159.42,302506.80,188912.70,113594.10
4965,Sub-Saharan Africa,Republic of the Congo,Clothes,Online,C,8/25/2010,584200847,9/13/2010,6868,109.28,35.84,750535.04,246149.12,504385.92
4967,Sub-Saharan Africa,Lesotho,Snacks,Online,H,2/23/2016,175510299,3/23/2016,6252,152.58,97.44,953930.16,609194.88,344735.28

In [ ]:
# new_df['Grade'] = [50,60,...........]
# new_df

In [ ]:
new_df.drop('Item Type', axis=1, inplace=True)
new_df

<ipython-input-102-7495b3c4c244>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop('Item Type', axis=1, inplace=True)

,Region,Country,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
3,Asia,North Korea,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
12,Asia,Malaysia,Offline,L,7/31/2016,333942162,8/25/2016,9762,205.70,117.11,2008043.40,1143227.82,864815.58
42,Asia,Laos,Online,L,3/21/2017,734708821,3/24/2017,5522,421.89,364.69,2329676.58,2013818.18,315858.40
49,Asia,Taiwan,Online,M,5/27/2014,369560611,6/13/2014,52,255.28,159.42,13274.56,8289.84,4984.72
51,Asia,Laos,Online,H,8/10/2012,197185981,9/11/2012,568,651.21,524.96,369887.28,298177.28,71710.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,Asia,Myanmar,Online,M,6/6/2012,670026814,6/15/2012,4679,255.28,159.42,1194455.12,745926.18,448528.94
4974,Asia,Malaysia,Offline,L,11/25/2011,699801480,12/26/2011,5664,651.21,524.96,3688453.44,2973373.44,715080.00
4985,Asia,Laos,Offline,L,10/13/2010,580309283,10/25/2010,5268,437.20,263.33,2303169.60,1387222.44,915947.16
4986,Asia,Sri Lanka,Online,C,12/1/2012,307045400,12/2/2012,412,651.21,524.96,268298.52,216283.52,52015.00
4997,Asia,Myanmar,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44

In [ ]:
df.drop(index=[0, 1])
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,217984473,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,996861922,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

,Region,Country,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
3,Asia,North Korea,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
12,Asia,Malaysia,Offline,L,7/31/2016,333942162,8/25/2016,9762,205.70,117.11,2008043.40,1143227.82,864815.58
42,Asia,Laos,Online,L,3/21/2017,734708821,3/24/2017,5522,421.89,364.69,2329676.58,2013818.18,315858.40
49,Asia,Taiwan,Online,M,5/27/2014,369560611,6/13/2014,52,255.28,159.42,13274.56,8289.84,4984.72
51,Asia,Laos,Online,H,8/10/2012,197185981,9/11/2012,568,651.21,524.96,369887.28,298177.28,71710.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,Asia,Myanmar,Online,M,6/6/2012,670026814,6/15/2012,4679,255.28,159.42,1194455.12,745926.18,448528.94
4974,Asia,Malaysia,Offline,L,11/25/2011,699801480,12/26/2011,5664,651.21,524.96,3688453.44,2973373.44,715080.00
4985,Asia,Laos,Offline,L,10/13/2010,580309283,10/25/2010,5268,437.20,263.33,2303169.60,1387222.44,915947.16
4986,Asia,Sri Lanka,Online,C,12/1/2012,307045400,12/2/2012,412,651.21,524.96,268298.52,216283.52,52015.00
4997,Asia,Myanmar,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44

In [ ]:
df.sort_values(by='Units Sold', ascending=False)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
1508,Europe,United Kingdom,Personal Care,Offline,H,12/23/2013,387098824,1/4/2014,9999,81.73,56.67,817218.27,566643.33,250574.94
3923,Europe,Portugal,Office Supplies,Offline,C,2/17/2012,775849616,3/5/2012,9997,651.21,524.96,6510146.37,5248025.12,1262121.25
1985,Europe,Ireland,Clothes,Online,C,10/2/2012,261187350,10/3/2012,9996,109.28,35.84,1092362.88,358256.64,734106.24
2564,Central America and the Caribbean,Dominica,Baby Food,Online,C,6/26/2011,446438729,8/6/2011,9996,255.28,159.42,2551778.88,1593562.32,958216.56
3378,Asia,Thailand,Fruits,Online,M,11/30/2011,844245946,1/1/2012,9991,9.33,6.92,93216.03,69137.72,24078.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2244,Europe,Bosnia and Herzegovina,Office Supplies,Offline,C,5/2/2010,152746713,5/8/2010,2,651.21,524.96,1302.42,1049.92,252.50
1046,Europe,Bulgaria,Household,Online,C,3/21/2014,129902875,4/24/2014,2,668.27,502.54,1336.54,1005.08,331.46
3284,Central America and the Caribbean,Saint Kitts and Nevis,Clothes,Offline,L,10/14/2013,532441079,11/8/2013,2,109.28,35.84,218.56,71.68,146.88
1405,Sub-Saharan Africa,Rwanda,Clothes,Online,M,10/23/2013,410077846,12/2/2013,2,109.28,35.84,218.56,71.68,146.88
582,Asia,Brunei,Baby Food,Online,C,4/19/2012,918961560,5/24/2012,2,255.28,159.42,510.56,318.84,191.72

In [ ]:
df_group = df.groupby('Region')
df_group

In [ ]:
df.dropna()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,217984473,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,996861922,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [ ]:
df.dropna(subset=['Unit Price'])

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,217984473,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,996861922,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [ ]:
df.fillna(10)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,217984473,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,996861922,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [ ]:
df.drop_duplicates()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,217984473,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,996861922,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [ ]:
df['Unit Price'].sum()

1328727.8199999998

In [ ]:
df['Unit Price'].max()

668.27

In [ ]:
df['Unit Price'].min()

9.33

In [ ]:
df['Unit Price'].mean()

265.74556399999994

In [ ]:
df['Unit Price'].median()

154.06

In [ ]:
df['Unit Price'].idxmax()

47

In [ ]:
df.iloc[47]

Region            Middle East and North Africa
Country                                Lebanon
Item Type                            Household
Sales Channel                          Offline
Order Priority                               M
Order Date                          10/15/2014
Order ID                             198997008
Ship Date                           10/16/2014
Units Sold                                6492
Unit Price                              668.27
Unit Cost                               502.54
Total Revenue                       4338408.84
Total Cost                          3262489.68
Total Profit                        1075919.16
Name: 47, dtype: object

In [ ]:
df['Unit Price'].idxmin()

22

In [ ]:
df.iloc[22]

Region               Europe
Country             Estonia
Item Type            Fruits
Sales Channel        Online
Order Priority            L
Order Date        9/28/2016
Order ID          579463422
Ship Date         11/1/2016
Units Sold             4958
Unit Price             9.33
Unit Cost              6.92
Total Revenue      46258.14
Total Cost         34309.36
Total Profit       11948.78
Name: 22, dtype: object